<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-16T20:49:19Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kateryna/Desktop/macqt/jami-project/client-qt/sparkle/Sparkle/Sparkle.xcodeproj</string>
</dict>
</plist>
