.git
.vs
build
build-*
!extras/build
!extras/build/**
x64
daemon/build
daemon/contrib/build
daemon/contrib/tarballs
daemon/MSVC
JamiInstaller/bin
JamiInstaller/obj
**/CMakeFiles
**/CMakeCache.txt
**/*.dir
**/*.vcxproj.user
**/*.suo
**/*.user
**/*.log
