*.user
doc/Doxyfile

GeneratedFiles/
.vs/
.vscode/
x64/
x86/
[wW]in32/
.qmake.stash
debug/
release/
beta/
*.dll
*.qm
nuget.exe
*.autosave
changelog.html
obj/
build/
build-local/
build-global/
install/
*.vcxproj
*.vcxproj.filters
*qmlcache.qrc
.deploy.stamp
*.orig
*.log
*.pid

# macOS
.DS_Store

# packaging
.tarball-version
tarballs.manifest
jami-*.tar.gz
extras/packaging/gnu-linux/packages/
.docker-image-*
