[submodule "3rdparty/qrencode-win32"]
	path = 3rdparty/qrencode-win32
	url = https://github.com/blizzard4591/qrencode-win32.git
	ignore = dirty
[submodule "3rdparty/libqrencode"]
	url = https://github.com/fukuchi/libqrencode.git
	ignore = dirty
	path = 3rdparty/libqrencode
[submodule "3rdparty/SortFilterProxyModel"]
	path = 3rdparty/SortFilterProxyModel
	url = https://github.com/atraczyk/SortFilterProxyModel.git
	branch = qt-6
	ignore = dirty
[submodule "daemon"]
	path = daemon
	url = https://review.jami.net/jami-daemon
# Sparkle is updater for macOS
[submodule "extras/packaging/update/sparkle/Sparkle"]
	path = extras/packaging/update/sparkle/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
	ignore = dirty
[submodule "3rdparty/md4c"]
	path = 3rdparty/md4c
	url = https://github.com/mity/md4c.git
	ignore = dirty
[submodule "3rdparty/tidy-html5"]
	path = 3rdparty/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
	ignore = dirty
[submodule "3rdparty/hunspell"]
	path = 3rdparty/hunspell
	url = https://github.com/hunspell/hunspell.git
