*.user
doc/Doxyfile

GeneratedFiles/
.vs/
.vscode/
x64/
x86/
[wW]in32/
.qmake.stash
debug/
release/
beta/
*.dll
*.qm
nuget.exe
*.autosave
changelog.html
obj/
build/
build-local/
install-local/
build-global/
*.vcxproj
*.vcxproj.filters
*qmlcache.qrc
.deploy.stamp

# auto-gen files
src/app/qml_without_webengine.qrc
src/app/resources.qrc
src/app/constant/JamiResources.qml

# macOS
.DS_Store
