[submodule "3rdparty/qrencode-win32"]
	path = 3rdparty/qrencode-win32
	url = https://github.com/BlueDragon747/qrencode-win32.git
	ignore = dirty
[submodule "sparkle/Sparkle"]
        path = sparkle/Sparkle
        url = https://github.com/sparkle-project/Sparkle.git
        ignore = dirty
