[Desktop Entry]
Name=Jami
GenericName=Jami
Comment=Jami is a secured and distributed communication software
Comment[hu]=Adatvédelem-orientált hang-, video-, csevegés- és konferenciaplatform
Comment[ru]=Jami — приложение для защищённой связи с распределённой архитектурой
Exec=jami-qt %u
Icon=jami
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Telephony;
Keywords=Qt;chat;talk;im;message;voip;
