[Desktop Entry]
Name=Jami
GenericName=Jami
Comment=Share, freely and privately
Comment[hu]=Megosztás, szabadon és bizalmasan
Exec=jami %u
Icon=net.jami.Jami
StartupNotify=true
Terminal=false
Type=Application
Categories=Chat;FileTransfer;InstantMessaging;Network;P2P;Telephony;VideoConference;
Keywords=Qt;chat;talk;im;message;voip;
MimeType=x-scheme-handler/jami;
