[Desktop Entry]
Name=Jami
GenericName=Jami
Comment=Share, freely and privately
Comment[ab]=Ацеиҩшара, хақәиҭла, хала
Comment[af]=Deel, vrylik en privaat
Comment[am]=በነጻ እና በግል ያካፍሉ።
Comment[ar]=شارك بحرية وبشكل خاص
Comment[az]=Sərbəst və gizli şəkildə paylaşın
Comment[be]=Падзяліцеся свабодна і прыватна
Comment[bg]=Споделяйте, свободно и частно
Comment[bn]=শেয়ার করুন, অবাধে এবং গোপনে
Comment[ca]=Comparteix, lliurement i de forma privada
Comment[cs]=Sdílejte svobodně a soukromě
Comment[da]=Del, frit og privat
Comment[de]=Teilen, frei und privat
Comment[el]=Κοινοποιήστε, ελεύθερα και ιδιωτικά
Comment[eo]=Kunhavigu, libere kaj private
Comment[es]=Comparte, libre y privadamente
Comment[et]=Jaga, vabalt ja privaatselt
Comment[fa]=به اشتراک بگذارید، آزادانه و خصوصی
Comment[fi]=Jaa, vapaasti ja yksityisesti
Comment[fil]=Ibahagi, libre at pribado
Comment[fr]=Partagez, librement, gratuitement et en toute confidentialité
Comment[gl]=Comparte, de xeito libre e privado
Comment[he]=שתפו, באופן חופשי ופרטי
Comment[hi]=स्वतंत्र रूप से और निजी तौर पर साझा करें
Comment[hr]=Dijelite, slobodno i privatno
Comment[hu]=Megosztás, szabadon és bizalmasan
Comment[hy]=Տարածեք, ազատ և մասնավոր
Comment[id]=Berbagi, secara bebas dan pribadi
Comment[is]=Deildu, frjálslega og einslega
Comment[it]=Condividere, liberamente e privatamente
Comment[ja]=自由に、プライベートに共有
Comment[ka]=გააზიარეთ, თავისუფლად და პირადად
Comment[km]=ចែករំលែកដោយសេរី និងឯកជន
Comment[kn]=ಮುಕ್ತವಾಗಿ ಮತ್ತು ಖಾಸಗಿಯಾಗಿ ಹಂಚಿಕೊಳ್ಳಿ
Comment[ko]=자유롭고 비공개적으로 공유하세요
Comment[ky]=Бөлүшүү, эркин жана купуя
Comment[la]=Communicantes, libere et privatim
Comment[lo]=ແບ່ງ​ປັນ​, ຢ່າງ​ເສລີ​ແລະ​ເປັນ​ສ່ວນ​ຕົວ​
Comment[lt]=Dalintis, laisvai ir privačiai
Comment[lv]=Kopīgojiet, brīvi un privāti
Comment[mk]=Споделете, слободно и приватно
Comment[ml]=സ്വതന്ത്രമായും സ്വകാര്യമായും പങ്കിടുക
Comment[mn]=Чөлөөт, хувийн байдлаар хуваалцах
Comment[mr]=सामायिक करा, मुक्तपणे आणि खाजगीरित्या
Comment[ms]=Kongsi, secara bebas dan peribadi
Comment[my]=လွတ်လပ်စွာ သီးသန့်မျှဝေပါ။
Comment[ne]=स्वतन्त्र र गोप्य रूपमा सेयर गर्नुहोस्
Comment[nl]=Deel, vrij en privé
Comment[no]=Del, fritt og privat
Comment[pl]=Udostępniaj swobodnie i prywatnie
Comment[pt_BR]=Compartilhe, livre e privadamente
Comment[pt_PT]=Partilhe, livre e privadamente
Comment[ro]=Distribuie, în mod liber și privat
Comment[ru]=Делитесь, свободно и конфиденциально
Comment[si]=නිදහසේ සහ පෞද්ගලිකව බෙදා ගන්න
Comment[sk]=Zdieľajte, slobodne a súkromne
Comment[sl]=Delite brezplačno in zasebno
Comment[sq]=Shpërndaje, lirisht dhe privatisht
Comment[sr]=Делите, слободно и приватно
Comment[sv]=Dela, fritt och privat
Comment[sw]=Shiriki, kwa uhuru na kwa faragha
Comment[ta]=பகிரவும், சுதந்திரமாகவும் தனிப்பட்ட முறையிலும்
Comment[te]=ఉచితంగా మరియు ప్రైవేట్‌గా షేర్ చేయండి
Comment[th]=แบ่งปันได้อย่างอิสระและเป็นส่วนตัว
Comment[tl]=Ibahagi, libre at pribado
Comment[tr]=Özgürce ve özel olarak paylaşın
Comment[uk]=Поділіться вільно та приватно
Comment[vi]=Chia sẻ, tự do và riêng tư
Comment[zh_CN]=自由且私密地分享
Comment[zh_HK]=自由且私密地分享
Comment[zh_TW]=自由且私密地分享
Comment[zu]=Yabelana, ngokukhululekile nangasese
Exec=jami %u
Icon=net.jami.Jami
StartupNotify=true
Terminal=false
Type=Application
Categories=Chat;FileTransfer;InstantMessaging;Network;P2P;Telephony;VideoConference;
Keywords=Qt;chat;talk;im;message;voip;
MimeType=x-scheme-handler/jami;
