<?xml version="1.0" encoding="UTF-8"?>
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
    Name="$(var.Name)"
    Language="1033"
    Version="$(fun.AutoVersion(1.0))"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="301"
      Compressed="yes" />

    <MajorUpgrade Schedule="afterInstallValidate"
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of $(var.Name) is already installed." />
    <MediaTemplate EmbedCab="yes"
      CompressionLevel="high"
      MaximumUncompressedMediaSize="4" />

    <!--Disables interaction of the package with the Restart Manager.-->
    <Property Id="MSIRESTARTMANAGERCONTROL"
      Value="DisableShutdown" />

    <!--Icon File should be in release folder(not wix project), otherwise cannot be read-->
    <Icon Id="icon.ico"
      SourceFile="$(var.ReleaseDir)\jami.ico" />
    <Property Id="ARPPRODUCTICON"
      Value="icon.ico" />
    <Property Id="ARPNOMODIFY"
      Value="1" />

    <Feature Id="ProductFeature"
      Title="Main"
      Level="1"
      Absent="disallow">
      <ComponentGroupRef Id="MainExecutable"
        Primary="yes" />
      <ComponentGroupRef Id="AppHeatGenerated" />
      <ComponentGroupRef Id="CrtHeatGenerated" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcutStartMenu" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="URLProtocolRegistryEntries" />
    </Feature>

    <!--SetDirectory of APPLICATIONFOLDER -->
    <SetDirectory Id="APPLICATIONFOLDER"
      Value="[ProgramFiles64Folder][ApplicationFolderName]">APPLICATIONFOLDER=""</SetDirectory>
    <SetProperty Id="ARPINSTALLLOCATION"
      Value="[APPLICATIONFOLDER]"
      After="CostFinalize" />

    <UIRef Id="CustomUI" />
    <WixVariable Id="WixUIInfoIcon"
      Value="icon.ico"/>
    <WixVariable Id="WixUIBannerBmp"
      Value="top-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp"
      Value="main-banner.bmp" />

    <CustomAction Id="RemoveOldJamiFiles"
      Directory="APPLICATIONFOLDER"
      ExeCommand="cmd /c &quot;del vc_redist.x64.exe; del uninstall.exe; del WinSparkle.dll;&quot;"
      Execute="deferred"
      Return="ignore"
      HideTarget="no"
      Impersonate="no"/>

    <Property Id="QtExecCmdLine"
      Value='"[APPLICATIONFOLDER]/$(var.ExeName).exe" --term'/>
    <CustomAction Id="TerminateAppProcess"
      BinaryKey="WixCA"
      DllEntry="CAQuietExec"
      Execute="immediate"
      Return="ignore"/>
  </Product>

  <Fragment Id="DirectoryStructure">
    <Directory Id="TARGETDIR"
      Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="APPLICATIONFOLDER"
          Name="$(var.Name)" />
      </Directory>
      <Directory Id="DesktopFolder"
        Name="Desktop" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" />
      </Directory>
      <Directory Id="WindowsFolder"
        Name="WINDOWS"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainExecutable"
      Directory="APPLICATIONFOLDER">
      <Component Id="cmp9CFEE34E3A162AB05264E8B756EC1DEC"
        Guid="*">
        <File Id="fileMain.exe"
          KeyPath="yes"
          Source="$(var.ReleaseDir)\$(var.ExeName).exe" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="Shortcuts">
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop"
        Guid="*"
        Win64="yes">
        <Shortcut Id="ApplicationShortcutDesktop"
          Name="$(var.Name)"
          Description="Launch $(var.Name)"
          Target="[#fileMain.exe]"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="DesktopFolder"
          On="uninstall" />
        <RegistryValue Root="HKCU"
          Key="Software\jami.net\$(var.Name)"
          Name="desktop"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutStartMenu"
        Guid="*"
        Win64="yes">
        <Shortcut Id="ApplicationShortcutStartMenu"
          Name="$(var.Name)"
          Description="Launch $(var.Name)"
          Target="[#fileMain.exe]"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="StartMenuFolder"
          On="uninstall" />
        <RegistryValue Root="HKCU"
          Key="Software\jami.net\$(var.Name)"
          Name="startmenu"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment Id="OtherRegistryEntries">
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries"
        Guid="*"
        Win64="yes">
        <RegistryValue Root="HKCU"
          Key="Software\jami.net\$(var.AppName)"
          Name="hasRun"
          Type="integer"
          Value="0"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment Id="URLProtocol">
    <DirectoryRef Id="TARGETDIR">
      <Component Id="URLProtocolRegistryEntries"
        Guid="*"
        Win64="yes">
        <RegistryKey Root="HKCR"
          Key="jami"
          ForceCreateOnInstall="yes"
          ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string"
            Name="URL Protocol"
            Value="" />
          <RegistryValue Type="string"
            Value="URL:jami"/>
          <RegistryKey Key="DefaultIcon">
            <RegistryValue Type="string"
              Value="[APPLICATIONFOLDER]$(var.ExeName).exe" />
          </RegistryKey>
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string"
              Value='"[APPLICATIONFOLDER]$(var.ExeName).exe" "%1"' />
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment Id="UI">
    <!-- Workaround Wix Bug (Part 1): https://github.com/wixtoolset/issues/issues/2165 -->
    <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder"
      Property="WixPerMachineFolder"
      Value="[ProgramFiles64Folder][ApplicationFolderName]"
      Execute="immediate" />
    <CustomAction Id="Overwrite_WixSetDefaultPerUserFolder"
      Property="WixPerUserFolder"
      Value="[ProgramFiles64Folder][ApplicationFolderName]"
      Execute="immediate" />

    <UI Id="CustomUI">
      <Property Id="WixAppFolder"
        Value="WixPerUserFolder" />
      <Property Id="ALLUSERS"
        Value="2" />
      <Property Id="Privileged"
        Value="0" />
      <Property Id="MSIINSTALLPERUSER"
        Value="1" />
      <Property Id="ApplicationFolderName"
        Value="$(var.Manufacturer)\$(var.Name)" />

      <UIRef Id="WixUI_Advanced" />

      <!-- Workaround Wix Bug (Part 2): https://github.com/wixtoolset/issues/issues/2165 -->
      <Publish Dialog='InstallScopeDlg'
        Control='Next'
        Property='MSIINSTALLPERUSER'
        Value='1'
        Order='3'>WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog='InstallScopeDlg'
        Control='Next'
        Event='DoAction'
        Value='Overwrite_WixSetDefaultPerUserFolder'
        Order='3'>WixAppFolder = "WixPerUserFolder"</Publish>

      <Publish Dialog='InstallScopeDlg'
        Control='Next'
        Property='MSIINSTALLPERUSER'
        Value='{}'
        Order='2'>WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog='InstallScopeDlg'
        Control='Next'
        Event='DoAction'
        Value='Overwrite_WixSetDefaultPerMachineFolder'
        Order='3'>WixAppFolder = "WixPerMachineFolder"</Publish>

      <!-- Without this, non-default install scope upgrades will fail and
				 leave duplicate entries -->
      <Publish Dialog='InstallScopeDlg'
        Control='Next'
        Property='ALLUSERS'
        Value='{}'
        Order='1'>WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="InstallScopeDlg"
        Control="Next"
        Event="DoAction"
        Value="FindRelatedProducts"
        Order="4">1</Publish>

      <!-- Skip FeaturesDlg entirely -->
      <Publish Dialog="InstallScopeDlg"
        Control="Next"
        Event="NewDialog"
        Value="VerifyReadyDlg"
        Order="6">WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallDirDlg"
        Control="Next"
        Event="NewDialog"
        Value="VerifyReadyDlg"
        Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="VerifyReadyDlg"
        Control="Back"
        Event="NewDialog"
        Value="InstallScopeDlg">NOT Installed AND WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="VerifyReadyDlg"
        Control="Back"
        Event="NewDialog"
        Value="InstallDirDlg">NOT Installed AND WixAppFolder = "WixPerMachineFolder"</Publish>
      <Publish Dialog="VerifyReadyDlg"
        Control="Back"
        Event="NewDialog"
        Value="MaintenanceTypeDlg">Installed</Publish>

      <!--Remove User Exit Dialog-->
      <Publish Dialog="AdvancedWelcomeEulaDlg"
        Control="Cancel"
        Property="AbortInstall"
        Value="1">1</Publish>
      <Publish Dialog="InstallDirDlg"
        Control="Cancel"
        Property="AbortInstall"
        Value="1">1</Publish>
      <Publish Dialog="FeaturesDlg"
        Control="Cancel"
        Property="AbortInstall"
        Value="1">1</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg"
        Control="Cancel"
        Property="AbortInstall"
        Value="1">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg"
        Control="Cancel"
        Property="AbortInstall"
        Value="1">1</Publish>

      <!--Launch Program If Checkbox is clicked-->
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <InstallUISequence>
        <Show Dialog="UserExit"
          OnExit="cancel">NOT AbortInstall = 1</Show>
        <Custom Action="Overwrite_WixSetDefaultPerMachineFolder"
          After="WixSetDefaultPerMachineFolder" />
      </InstallUISequence>
    </UI>
    <InstallExecuteSequence>
      <Custom Action='TerminateAppProcess'
        Before='InstallValidate'/>
      <Custom Action="RemoveOldJamiFiles"
        After="RemoveFiles" />
      <Custom Action="LaunchApplication_nonUI"
        After="InstallFinalize"> WIXNONUILAUNCH </Custom>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder"
        After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>

    <!--License check box text, Launch check box text (auto check)-->
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT"
      Value="Launch $(var.Name)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
      Value="Launch $(var.Name)" />
    <!--CheckBox Default Set to One-->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"
      Value="1"/>
    <Property Id="LicenseAccepted"
      Value="1"/>

    <Property Id="WixShellExecTarget"
      Value="[#fileMain.exe]" />
    <CustomAction Id="LaunchApplication"
      BinaryKey="WixCA"
      DllEntry="WixShellExec"
      Impersonate="yes" />
    <CustomAction Id="LaunchApplication_nonUI"
      BinaryKey="WixCA"
      DllEntry="WixShellExec"
      Impersonate="yes"/>
    <!--License File-->
    <WixVariable Id="WixUILicenseRtf"
      Value="$(var.ReleaseDir)\License.rtf"/>
  </Fragment>

</Wix>
