#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	CXXFLAGS="-flto -flto-partition=none" CFLAGS="-flto -flto-partition=none" ./configure \
	  -opensource \
	  -confirm-license \
	  -nomake examples \
	  -nomake tests \
	  -prefix "${QT_JAMI_PREFIX}" \
	  -- -DFFMPEG_DIR=/opt/libqt-jami-ffmpeg -DQT_DEPLOY_FFMPEG=ON

override_dh_auto_build:
	cmake --build . --parallel

override_dh_auto_install:
	cmake --install . --prefix $(CURDIR)/debian/tmp/${QT_JAMI_PREFIX}

override_dh_shlibdeps:
	dh_shlibdeps -v -l$(CURDIR)/debian/libqt-jami/usr/lib/libqt-jami/lib
