#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	CXXFLAGS="-flto -flto-partition=none" CFLAGS="-flto -flto-partition=none" ./configure \
	  -opensource \
	  -developer-build \
	  -confirm-license \
	  -nomake examples \
	  -nomake tests \
	  -prefix "${QT_JAMI_PREFIX}"

override_dh_auto_build:
	cmake --build . --parallel

override_dh_auto_install:
	cmake --install . --prefix $(CURDIR)/debian/tmp/${QT_JAMI_PREFIX}
